{% extends "comments/comment_list.html" %}

{% block content %}
    {% if comment.parent %}
        <h1>Comment Preview</h1>
        {% with comment=comment.parent showform=False %}
            {% include "comments/fragments/comment_detail.html" %}
        {% endwith %}
    {% else %}
      <h1>Story Preview</h1>
    {% endif %}
    
    {% if not require_preview %}
    <div class="preview">
        {% if True or comment.parent %}
            {% include "comments/fragments/comment_detail.html" %}
        {% else %}
            {% include "comments/fragments/story_detail.html" %}        
        {% endif %}
    </div>
    {% endif %}
    
    <br />
    
    {% with showform=True %}
        {% include "comments/fragments/comment_form.html" %}
    {% endwith %}

{% endblock content %}
