{% extends "comments/comment_list.html" %}

{% block content %}
    <h1>Comment Preview</h1>
    {% if comment.parent %}
        {% with comment=comment.parent %}
            {% include "comments/fragments/comment_detail.html" %}
        {% endwith %}
    {% endif %}
    
    {% if not require_preview %}
    <div class="preview">
        {% include "comments/fragments/comment_detail.html" %}
    </div>
    {% endif %}
    
    <br />
    
    {% with showform=True %}
        {% include "comments/fragments/comment_form.html" %}
    {% endwith %}

{% endblock content %}
