# Example SECRET_KEY generated with Django's utility:
#   python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
#SECRET_KEY="^_bk5wj9el+un48)*jyeva_482cky7ap1p)djrk6a8qr7v()@$"
SECRET_KEY=changeme
