{% extends "stories/story_list.html" %}

{% block content %}
    {% comment %} <h1>{{comment.subject}}</h1> {% endcomment %}
    
    {% include "stories/fragments/story_detail.html" %}
{% endblock content %}

{% block full_width_content %}
    <div class="story_info">
        <a class="light" href="{% url 'story-detail' id=comment.id %}">{{comment.subject}}</a> | 
        <b>6</b> comments (0 hidden) | 
        <b><a href="{% if comment.id %}{% url "comment-reply" comment.id %}{% else %}#{% endif %}" onclick="return ajax_reply('{{comment.id}}');">Post A Comment</a></b>
    </div>
    
    {% if request.user.is_authenticated %}
        <div class="hidden" id="reply-form-{{comment.id}}">Loading reply form for comment {{comment.id}}...</div>
    {% endif %}
 

    <div class="full-width-content">
        {% for comment in comment.comment_set.all %}
            {% include "comments/fragments/comment_detail.html" %}
        {% endfor %}
    </div>
{% endblock %}
