<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}FreeK666{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    {% block base_style %}
        {% comment %}<link rel="stylesheet" type="text/css" href="/static/css/scoop.css" >{% endcomment %}
        <link rel="stylesheet" type="text/css" href="/static/css/scoop.css" >
    {% endblock %}
    {% block viewport_meta %}
        <meta name=viewport content="width=device-width, initial-scale=2">
    {% endblock %}
  </head>
  
  <body>
    {% block body %}
        {% include "fragments/page_header_fragment.html" %}
        <div class="clearfix">
        
            <div class="sidebar">
                {% block sidebar %}
                    {% include "fragments/sidebar.html" %}
                {% endblock sidebar %}
            </div>
            {% if messages %}
                <div>
                    <strong>Messages:</strong>
                    <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div>
            {% block full_width_content %}
            {% endblock %}
        </div>
        <p>{% include "fragments/donations_fragment.html" %}</p>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>