<div class="preview hidden" id="comment-preview-{{comment.id}}"></div>

<form class="{% if not showform and comment %}hidden{% endif %}" action="{% url 'add-comment' %}" method="post" >
    {% csrf_token %}
    <textarea class="comment_textbox" name="comment_text" id="comment-textbox-{{comment.id}}" placeholder="Subject on first line">{% if showform %}{{comment.text}}{% endif %}</textarea><br />
    <input type="hidden" name="comment_parent_id" value="{{comment.parent.id}}" />
    {% if not require_preview %}
	<input type="submit" class="submit {% if not showform %}hidden{% endif %}" value="Post" id="comment-post-button-{{comment.id}}" onclick="return post({{comment.id}});"/>
    {% endif %}
    <input type="submit" class="submit" name="preview" value="Preview" id="comment-preview-button-{{comment.id}}" onclick="return ajax_preview({{comment.id}});"/>
    <input type="submit" class="submit hidden" value="Edit" id="comment-edit-button-{{comment.id}}" onclick="return edit({{comment.id}});"/>
</form>

<div id="new-comments-{{comment.id}}"></div>
