<DIV class="story_summary">
<DIV class="story_title"><H2>Food Scientists Reveal the Horrific Effects of Bananas on the Human Body</H2>
<FONT FACE="verdana, arial, helvetica, sans-serif" SIZE=2></FONT>
<BR><A HREF="/?op=search&topic=humour"><IMG SRC="/images/topics/humour.jpg" WIDTH="80" HEIGHT="50" ALT="Humour" TITLE="Humour" ALIGN="right" BORDER=0></a>
        </DIV>

<P><FONT FACE="arial, Helvetica, Sans-Serif" SIZE=2>By <A CLASS="light" HREF="/user/coyotebrown">coyotebrown</A>, Section <A CLASS="section_link" href="/section/news">News</a>
<BR>Posted on Sun Nov 27, 2016 at 04:10:40 PM EST
<br>Tags:  (<a href="/tag">all tags</a>)</FONT></P>

<DIV class="introtext">
<FONT FACE="verdana, arial, helvetica, sans-serif" SIZE=2>
        Known on the street as Nanners, Monkey Chow, or Yellow Smilies; Bananas (Musa x paradisiaca) actually refer to a growing <br>
number of man-made, mind &amp; body-altering plantagens that are usually masticated orally to achieve their effects. <p>
Often those highly addicted will mix the banana with other foodstuffs to enhance the effect. Common mixtures are peanut (aka <br>
goober pea) 'butter'--The Artist Formerly Known As Elvis Presley DIED from a fatal overdose of <a href="http://www.foodnetwork.com/recipes/nigella-lawson/elvis-presleys-fried-peanut-butter-and-banana-sandwich-recipe.html">fried peanut butter and banana <br>
sandwiches</a>--custard and naller waifers (aka <a href="http://thehillcountrycook.com/2012/06/slap-yo-momma-nanner-puddin.html">Nanner-puddin</a>) or even baked into a <a href="http://www.food.com/recipe/best-banana-bread-2886">bread-like cake</a>. <p>
<b>A Rotten Bunch: Pulling back the Peel</b><br>
. . .</FONT>
</DIV>
<P><FONT FACE="verdana, arial, helvetica, sans-serif" SIZE=2>(6 comments, 588 words in story) <A CLASS="light" HREF="/story/2016/11/25/19447/885">Full Story</A>   </FONT></P>
</DIV>
